@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  height: 100%; /* Full viewport height */
  background: radial-gradient(125% 125% at 50% 10%, #000 40%, #63e 100%);

}

*{
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
  padding: 0;
  margin: 0;
}


.star {
  position: fixed;
  width: 10px;               
  height: 10px;
  background-color: red;     
  border-radius: 50%;        
  pointer-events: none;
  transform: translate(-50%, -50%);
  animation: fadeOut 1s forwards;
  z-index: 10000;
  box-shadow: 0 0 8px blue;  
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
  }
}